<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Animações</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <img class="animated infinite zoomIn" src="\assets\animar.jpg">
  <img class="animated infinite zoomInDown" src="\assets\animar.jpg">
  <img class="animated infinite hinge" src="\assets\animar.jpg">
  <img class="animated infinite slideInDown" src="\assets\animar.jpg">
  <ion-button class="animated bounceIn">Confirmar</ion-button>
</ion-content>