<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Loading
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-button expand="block" (click)="showLoadingDefault()">Loading Default</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('spinner')">Customize spinner</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('dots')">Customize dots</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('lines')">Customize lines</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('lines-small')">Customize lines-small</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('bubbles')">Customize bubbles</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('circles')">Customize circles</ion-button>
  <ion-button expand="block" (click)="showLoadingCustomize('crescent')">Customize crescent</ion-button>
  <ion-button expand="block" (click)="showLoadingConsumindoApi()">Simulando consumo de API</ion-button>
</ion-content>